html {
  background-color: rgb(152,206,237);
}

body {
  background-color: rgb(152,206,237);
}

.page-cover {
  background-size: cover;
  height: calc(100vh - 150px);
  text-align: center;
}

/* .listItem {
  margin: 15px auto;
  width: 20%;
  height: 50px;
  background-color: yellow;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
} */

.listItem {
  list-style: none;
  padding: 0px;
}

.listItem li {
  margin: 15px auto;
  width: 300px;
  height: 50px;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  transition: background-color .2s ease-out;
}

.listItem li:hover {
  background-color: pink;
  cursor: pointer;
}

.listItem .minus-icon {
  margin-left: 10px;
}

.inputAndButton {
  margin-top: 150px;
}

#text-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 2px solid #FFF;
}

#red-button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(173,19,57);
  color: #FFF;
  border: 2px solid rgb(173,19,57);
  font-weight: bold;
}

#red-button:hover {
  background-color: rgb(145, 16, 48);
}
